	
	h1{
		font-family: 'Fondamento', cursive;
	}
	header{
		text-align:center;
	}	
	.description{
		width:400px; 
		margin:0 auto; 
		text-align:justify;
	}
	td{
		padding:7px
	}
	.formLabel{
		text-align:right;
		font-weight:bold;
	}
	table{
		width:40%
	}
	footer {
		text-align:center;
	}
	#navigation{
		word-spacing:30px;
		text-align:left;
	}

	
	
	