	

	table{
		width:75%;
		margin-left:auto;
		margin-right:auto;
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		table-layout: fixed;

	}
	th{
		background-color:gray;
	}
	
	th, td {
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		text-align:left;
	}
