	
	h1{
		font-family: 'Fondamento', cursive;
	}
	header{
		text-align:center;
	}	
	.description{
		width:400px; 
		margin:0 auto; 
		text-align:justify;
	}
	td{
		padding:7px
	}
	.formLabel{
		text-align:right;
		font-weight:bold;
	}
	table.contactUsForm{
		width:40%;
	}
	table.beverages{
		width:40%;
		margin-left:auto;
		margin-right:auto;
	}
	thead{
		font-size:18px;
	}
	th{
		padding-bottom:15px;
	}
	footer {
		text-align:center;
	}
	#navigation{
		word-spacing:30px;
		text-align:left;
	}
	a:link{
		color:black;
	}
	a:visited{
		color:red;	
	}
	a:hover{
		font-weight:bold;	
	}
	a:active{
		text-decoration:none;
	}

	
	
	