		
	h1, h2{		
		text-align:center;
		font-family: 'Bitter', serif;
	}
	table{
		width:75%;
		margin-left:auto;
		margin-right:auto;
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		table-layout: fixed;

	}
	th{
		background-color:gray;
	}
	th, td {
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		text-align:center;
	}
	.albumImage{
		background-image:url("https://images-na.ssl-images-amazon.com/images/I/81U%2BY4-DNgL._SX522_.jpg");
		background-repeat:no-repeat;
		background-position:center;
		height:525px;
	}