	header{
		text-align:center;
	}
	.navbar-nav li{
		padding-left:20px;
		padding-right:20px;
	}
	.description{
		width:400px; 
		margin:auto; 
		text-align:justify;
	}
	p{
		padding:10px
	}
	#starters, #mains, #dessert{ 
		text-align:center;
	}
	.itemName{
		font-size:20px
	}
	.table th, td{
		text-align:center;
		width:30%;
		border-top:none !important;
		border-bottom:none !important;
	}
	label{
		text-align:right;
	}
	footer {
		text-align:center;
	}

	
	
	