		
	h1, h2{		
		text-align:center;
		font-family: 'Bitter', serif;
	}
	a:link{
		text-decoration:none;
		color:#492e74;
	}
	a:visited{
		text-decoration:none;
		color:#492e74;
	}
	a:hover{
		text-decoration:underline;
		background-color:#717275
	}
	a:active{
		text-decoration:none;
	}
	table{
		width:75%;
		margin-left:auto;
		margin-right:auto;
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		table-layout: fixed;
	}
	th{
		background-color:gray;
	}
	th, td {
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		text-align:center;
		font-style:italic;
	}
	tbody{
		background-color:#35e9e9;
	}
	.albumImage{
		background-image:url("https://images-na.ssl-images-amazon.com/images/I/81U%2BY4-DNgL._SX522_.jpg");
		background-repeat:no-repeat;
		background-position:center;
		height:525px;
	}