		
	h1, h2{		
		text-align:center;
		font-family: 'Bitter', serif;
	}
	a:link{
		text-decoration:none;
		color:#492e74;
	}
	a:visited{
		text-decoration:none;
		color:#492e74;
	}
	a:hover{
		text-decoration:underline;
		background-color:#717275
	}
	a:active{
		text-decoration:none;
	}
	thead{
		background-color:gray;
		
	}
	.table th, td {
		border-style:solid;
		border-width:1px;
		border-collapse: collapse;
		font-style:italic;
		text-align:center;
	}
	tbody{
		background-color:#35e9e9;
	}
	.img{
		margin-left:auto;
		margin-right:auto;
	}
